.logo-header{
    width: 64px;
    height: 64px;
}
.carrito{
    width: 24px;
    height: 24px;
}
.container-navBar{
    display: flex;
    justify-content: space-between;
}
.container-navBar button{
    border: none;
    background-color: transparent;

}
.search{
    border-radius: 40px;
    background-color: #E7E7E7;
    width: 312px;
    height: 60px;
}
.search input{
    border: none;
    background-color: transparent;
}
.item-search{
    justify-content: center;
}
.container-img-card img{
    width: 80px;
    height: 46.95px;
}
.card{
    background-color: aqua;
    width: 312px;
    height: 112px; ;
    border-radius: 20px;
}